doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Login
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
		link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css', integrity='sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I', crossorigin='anonymous')
	body
		.card.mr-auto.ml-auto.mt-2(style='width: 80%', ;='')
			img.card-img-top.mr-auto.ml-auto.mt-2(src='/images/logo.jpg', style='width: 40%')
			.card-body
				.card-title.text-center
					h4 Administrator Login
				form(action='/login', method='post', enctype='multipart/form-data')
					.form-group
						label(for='username') Username
						input#username.form-control(type='text', placeholder='Enter Username', name='username', required='')
					.form-group
						label(for='password') Password
						input#password.form-control(type='password', placeholder='Password', name='password', required='')
					.text-center
						button.btn.btn-primary.btn-lg.active(type='submit', name='submit') Sign In
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js', integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U', crossorigin='anonymous')
		script(src='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js', integrity='sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe', crossorigin='anonymous')
		script.
			$(document).ready(function() { $('body').bootstrapMaterialDesign(); });
