doctype html
html(lang='en')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
    link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css', integrity='sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I', crossorigin='anonymous')
    link(rel='stylesheet', href='/assets/css/element.css')
    title Slider List
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ml-auto
                    li.nav-item.my-3
                        | Account
                    li.navbar-item.btn-group
                        button#dropdownUserMenuButton.btn.bmd-btn-icon.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            i.material-icons 
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownUserMenuButton')
                            a.dropdown-item(type='text', href='admin.html') Logout
        h3.mt-3.text-center Slider List
        .container.mt-4
            .mr-auto.ml-auto
                for playlist in playlists
                    .card
                        .card-header(id = "head_" + playlist.playlist_id)
                            .row
                                h5.col-6 #{playlist.playlist_name}
                                .col-6
                                    button.btn.btn-primary(style='float: right;', data-toggle='collapse', data-target='#collapse_' + playlist.playlist_id, aria-expanded='false', aria-controls='collapse_' + playlist.playlist_id)
                                        i.material-icons expand_more
                                    button.btn.btn-danger(style='float: right', onclick='confirmDeletePlaylist(' + playlist.playlist_id + ')')
                                        i.material-icons delete
                                    button.btn.btn-primary(style='float: right', onclick='editPlaylist(' + playlist.playlist_id +',"' + playlist.playlist_name +  '")')
                                        i.material-icons mode_edit
                                    label.switch(style='float: right;')
                                        input(type='checkbox')
                                        span.slider.round
                        .collapse(id='collapse_' + playlist.playlist_id ,aria-labelledby='head_' + playlist.playlist_id)
                            .card-body
                                table.table
                                    thead.thead-dark
                                        tr
                                            th(scope='col') No
                                            th(scope='col') Name
                                            th(scope='col') Action
                                    tbody
                                        - var index = 1
                                        if playlist.content.length > 0
                                            for content in playlist.content
                                                tr
                                                    th(scope='row') #{index}
                                                    td #{content.slider_name}
                                                    td
                                                        a.editor_edit(href='/view/edit_slider?id=' + content.slider_id)
                                                            i.material-icons mode_edit
                                                        a(onclick='confirmDeleteSlide(' + content.slider_id + ')', style='cursor: pointer;')
                                                            i.material-icons.text-danger delete
                                                - index = index + 1
                                div
                                    button.btn.btn-primary(style='float: right;' onclick="addSlide(" + playlist.playlist_id + ")") Add Slide

                div.text-center.mt-2
                    button.btn.btn-lg.btn-primary(onclick='addPlaylist()') Add Playlist
        // Delete Slide Modal
        #deleteSlideModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deleteSlideModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#deleteSlideModalLabel.modal-title Delete Slide
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        | Are you sure want to delete this slide?
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Back
                        button.btn.btn-danger(type='button' onclick="submitDeleteSlide()") Delete
        // Delete Playlist Modal
        #deletePlaylistModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='deletePlaylistModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#deletePlaylistModalLabel.modal-title Delete Playlist
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        | Are you sure want to delete this playlist?
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Back
                        button.btn.btn-danger(type='button' onclick="submitDeletePlaylist()") Delete
        // Edit Modal
        #editPlaylistModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editSlideModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#editSlideModalLabel.modal-title Edit Playlist
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .form-group
                            label(for='name') Slide Name
                            input#name.form-control(type='text', name='name', value='Namanya', style='color: black')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Back
                        button.btn.btn-success(type='button', onclick="submitEditPlaylist()") Edit
        // Add Modal
        #addPlaylistModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='addPlaylistModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h5#addPlaylistModalLabel.modal-title Add Playlist
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        .form-group
                            label(for='name') Playlist Name
                            input#name.form-control(type='text', name='name', placeholder="Playlist Name...", style='color: black')
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Back
                        button.btn.btn-success(type='button', onclick= "submitAddPlaylist()") Add
        script(src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous")
        script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js', integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U', crossorigin='anonymous')
        script(src='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js', integrity='sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe', crossorigin='anonymous')
        script(src='/assets/js/admin-table.js')
