doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')
		title Slider
		link(rel='stylesheet', href='/assets/css/slider.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
		link(rel='stylesheet', href='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/css/bootstrap-material-design.min.css', integrity='sha384-R80DC0KVBO4GSTw+wZ5x2zn2pu4POSErBkf8/fSFhPXHxvHJydT0CSgAP2Yo2r4I', crossorigin='anonymous')
	body
		.slider-container.bg-dark
			#carouselExampleIndicators.carousel.slide.carousel-container(data-ride='carousel')
				ol.carousel-indicators
					li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
					li(data-target='#carouselExampleIndicators', data-slide-to='1')
					li(data-target='#carouselExampleIndicators', data-slide-to='2')
				.carousel-inner.carousel-container
					- var index = 0;
					for slider in sliders
						div(class= index == 0 ? "carousel-item carousel-container active" : "carousel-item")
							!= slider.slider_content
						- index += 1;
				a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
					span.carousel-control-prev-icon(aria-hidden='true')
					span.sr-only Previous
				a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
					span.carousel-control-next-icon(aria-hidden='true')
					span.sr-only Next
		.footer
			#left-bubble.left
				.talk-bubble.tri-right.left-top.round
					.talktext
						a#left-bubble-text
						i.material-icons android
			#right-bubble.right
				.talk-bubble.tri-right.right-top.round
					.talktext
						i.material-icons account_circle
						a#right-bubble-text
						

		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script(src='https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js', integrity='sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U', crossorigin='anonymous')
		script(src='https://unpkg.com/bootstrap-material-design@4.0.0-beta.4/dist/js/bootstrap-material-design.js', integrity='sha384-3xciOSDAlaXneEmyOo0ME/2grfpqzhhTcM4cE32Ce9+8DW/04AGoTACzQpphYGYe', crossorigin='anonymous')
		script(src="assets/js/slider.js" type="text/javascript")
