.slider-container {
    position: relative;
    margin-left : auto;
    margin-right : auto;
    padding-left : 0px;
    padding-right : 0px;
  }
.content-image{
    object-fit: fill;
}
.content-background{
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain;
}
.slider-content{
    position: absolute;
    top : 5px;
    left : 5px;
    right : 5px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    text-align: center;
    height: 100%;
}
.slider-name-form{
    margin-left: 10px;
}
.slider-background-form{
    margin-left: 10px;
}
.save-slider{
    margin-top : 15px;
    width : 80px;
    height : 40px;
    border-radius: 5px;
    background-color:#e1c2ef;
    border-color: #dbdbdb;
    font-size: 16px;
}
.form-background{
    margin-top :15px;
}