.slider-container {
    position: relative;
    margin-left : auto;
    margin-right : auto;
    padding-left : 0px;
    padding-right : 0px;
    width : 100%;
    line-height : 100%;
  }
.content-image{
    object-fit: fill;
}
.content-background{
    max-height: 100%; 
    max-width: 100%; 
    object-fit: contain;
}
.slider-content{
    position: absolute;
    top : 5px;
    left : 5px;
    right : 5px;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;
    color:black;
    text-align: center;
    height: 100%;
}
.slider-name-form{
    margin-left: 10px;
}
.slider-background-form{
    margin-left: 10px;
}
.save-slider{
    margin-top : 15px;
    width : 80px;
    height : 40px;
    border-radius: 5px;
    background-color:#e1c2ef;
    border-color: #dbdbdb;
    font-size: 16px;
}
.form-background{
    margin-top :15px;
}

.container {
    padding: 5% 5%;
}

.talk-bubble {
    margin: 40px;
    display: inline-block;
    position: relative;
    height: auto;
    background-color: lightyellow;
    min-width: 200px;
    font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
    opacity: 0.7;
}

.tri-right.left-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    right: auto;
    top: 0px;
    bottom: auto;
    border: 22px solid;
    border-color: lightyellow transparent transparent transparent;
}

.tri-right.right-top:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -20px;
    top: 0px;
    bottom: auto;
    border: 20px solid;
    border-color: lightyellow transparent transparent transparent;
}

.round{
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}

/* talk bubble contents */
.talktext{
    padding: 1em;
    text-align: left;
    line-height: 1.5em;		  
}
.talktext a{
/* remove webkit p margins */
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.footer {
    position: absolute;
    bottom: 0px;
    margin: 0;
    width: 95%;
}